<h1>Unfinished Threads</h1>
<div class="d-flex flex-row-reverse mb-5">
    <%= link_to "Create a new topic", topics_new_path, class: "badge badge-dark" %>
    <%= link_to "Show finished topics", topics_finished_path, class: "badge badge-dark mr-2" %>
</div>

<table class="table">
    <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Date</th>
        <th>Is Approved</th>
    </tr>
    <% @topics.each do |topic| %>       
        <tr>
            <td><a href="/topics/<%= topic.id %>"><%= topic.title %></a></td>
            <td><a target="_blank" href="//<%= topic.url %>"> <%= topic.url %> </a> </td>
            <td><%= topic.created_at.strftime('%d %B %Y') %></td>
            <td><span class="badge badge-info"><%= topic.is_approved ? 'Yes' : 'No' %><span></td>
        </tr>
    <% end %>
</table>
    